/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== BODY ===== */
body {
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;

  /* FIX WARNA PUTIH BUG */
  background: radial-gradient(circle at top, #1b2735, #000);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  touch-action: none;
}

/* ===== CANVAS ===== */
canvas {
  width: 320px;
  height: 400px;

  background: #111;

  border: 2px solid #00eaff;
  border-radius: 12px;

  display: none; /* penting: muncul saat start */
}

/* ===== MENU ===== */
#menu {
  position: absolute;
  text-align: center;
}

#menu h1 {
  font-size: 28px;
  color: #00eaff;
  margin-bottom: 20px;
}

/* BUTTON */
button {
  padding: 12px 20px;
  font-size: 16px;

  background: #00eaff;
  color: #000;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}

/* ===== HUD ===== */
#hud {
  position: absolute;
  top: 10px;

  width: 100%;
  text-align: center;

  font-size: 18px;

  display: none;
}

/* ===== GAME OVER ===== */
#gameOver {
  position: absolute;
  text-align: center;

  display: none;
}

#gameOver h1 {
  margin-bottom: 10px;
  color: red;
}
